:root {
  font-family: 'Rubik', Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: black;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.container {
  padding: 60px 80px;
  height: calc(100vh - 91px);
  // border: 1px solid #000;
}

