.header {
  padding: 20px 80px;
  border-bottom: 1px solid #000;
}

.navigation {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;

  &__item {
    padding: 14px 112px;
    border: 1px solid #c4c4c4;
    letter-spacing: 0.01em;
    font-weight: 300;
  }
}
